[Unit]
Description=Discord Bot (Podman Compose)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/discord-bot

Environment=AWS_REGION=us-east-1
Environment=AWS_SECRET_NAME=220_Discord_Token

ExecStartPre=/usr/local/bin/podman-compose build
ExecStart=/usr/local/bin/podman-compose up
ExecStop=/usr/local/bin/podman-compose down

Restart=always
RestartSec=5
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
