[Unit]
Description=Discord Bot (Docker Compose)
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/discord-bot

Environment=AWS_REGION=us-east-1
Environment=AWS_SECRET_NAME=220_Discord_Token

ExecStartPre=/usr/bin/docker compose build
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down

Restart=always
RestartSec=5
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
